[data-dropdown] {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  background: #E54;
  border: 2px solid #333;
  z-index: 200;
  animation: dropdown .3s forwards;
}

[data-dropdown] .dropdown-menu {
  display: none;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].ativo .dropdown-menu {
  display: block;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #E54;
}

.dropdown-menu a:hover {
  color: #fff;
}

@media (max-width: 700px) {
  [data-dropdown] .dropdown-menu {
    display: block;
  }
}